.black_button {
    background-color: #101010;
    border: none;
    color: #ffffff;
    font-family: 'Kanit Cyrillic';
    font-weight: 400;
    font-size: 40px;
    padding: 25px 50px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        outline: 3px solid #ffffff;
    }
}

.empty_button {
    font-family: 'Kanit Cyrillic';
    background: none;
    border: none;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #03160E;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(10px);
        border-bottom: 3px solid #F5D82D;
    }
}

.orange_button {
    font-family: 'Kanit Cyrillic';
    font-weight: 400;
    font-size: 26px;
    background-color: #F5D82D;
    color: #03160E;
    border: none;
    padding: 20px 50px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        outline: 3px solid #03160E;
    }
}