.bg_container {
    background-color: rgba(26, 26, 26, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.main_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1000;
    padding: 30px 100px;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 55%;
    font-family: monospace;
    font-weight: 100;
    padding: 10px;
}

.title {
    font-family: "Kanit Cyrillic";
    font-weight: 400;
    font-size: 35px;
    text-align: center; 
    margin: 0;
    color: #3E4542;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.form_input {
    font-family: "Kanit Cyrillic";
    font-weight: 400;
    font-size: 22px;
    border: none;
    outline: none;
    border-bottom: 1px solid #3E4542;
    padding: 10px 30px 10px 10px;

    &:focus {
        outline: 1px solid #3E4542;
    }
}

.error_span {
    color: red;
    font-size: 15px;
    font-family: "Involve";
}

.submit_btn {
    font-family: "Involve";
    font-size: 35px;
    font-weight: 400;
    color: #3E4542;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        outline: 1px solid #3E4542;
    }

    &:active {
        background-color: #afafaf;
    }
}