.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px;
    box-shadow: inset 0 0 0 20px #F5D82D;
}

.left_container {
    margin-left: 5vw;
}

.right_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title {
    font-family: 'Involve';
    font-size: 40px;
    line-height: 120%;
    color: #232323;
}

.description {
    font-family: 'Inter Regular';
    font-size: 24px;
    line-height: 120%;
    color: #232323;
}

.images_container {
    width: 800px;
    height: 480px;
    position: relative;
}

.images {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image1 {
    z-index: 1;
    transform: translate(0, 0);
}

.image2 {
    z-index: 0;
    transform: translate(50%, 50%);
}

.image1.moved {
    z-index: 100;
    transform: translate(50%, 50%);
}

.image2.moved {
    z-index: 100;
    transform: translate(0, 0);
}

.image1.dimmed,
.image2.dimmed {
    filter: grayscale(1);
}