.container {
    display: flex;
    width: 100vw;
}

.main_container {
    padding: 22px;
    width: 100vw;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
    padding: 0;
    font-family: 'Involve';
    font-size: 50px;
    color: #101010;
}

.admin_top_container {
    display: flex;
    column-gap: 80px;
}

.admin_btn {
    font-family: 'Inter Bold';
    font-size: 25px;
    line-height: 120%;
    background-color: #F5D82D;
    color: #232323;
    padding: 0 25px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.07);
    }

    &:active {
        background-color: #d1b725;
    }
}

.filter_container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 10px 30px;
    height: 50px;
}

.filter_input {
    background-image: url('src/theme/images/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0;
    padding-left: 30px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #555555;
    font-family: 'Involve';
    font-size: 20px;
    color: #232323;
}

.filter_description {
    font-family: 'Kanit Cyrillic';
    font-size: 25px;
    color: #232323;
    text-align: center;
    line-height: 120%;
}

.user_cards__container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.role_container {
    display: flex;
    align-items: center;
    column-gap: 30px;
}