.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}

.page_open {
    background-color: #000000;
    color: #F5D82D;
}

.icon {
    width: 50px;
    height: 50px;
}

.name {
    display: none;
    font-family: 'Kanit Cyrillic';
    font-weight: 400;
    font-size: 25px;
}

.open {
    display: block;
}