.container {
    width: 60vw;
    height: 80vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.buttons_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.image_slider {
    align-self: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.arrow {
    font-family: monospace;
    font-size: 70px;
    color: #F5D82D;
    -webkit-text-stroke: #000 1px;
}

.image_container {
    position: relative;
    width: 50vw;
    height: 32vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}