.container {
    font-family: 'Kanit Cyrillic';
    font-size: 25px;
    color: #232323;
    text-align: center;
    line-height: 120%;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease-in;

    &:hover {
        border-bottom: 2px solid #232323;
        transform: translateY(-20%);
    }
}