.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 500px;
}

.title {
    font-family: 'Inter Bold';
    font-size: 30px;
    line-height: 120%;
    color: #101010;
    border-bottom: 2px solid #F5D82D;
    align-self: center;
}

.input {
    border: none;
    color: #F8F8F8;
    padding: 6px;
    border-bottom: 2px solid #232323;
    color: #232323;
    font-family: 'Kanit Cyrillic';
    font-size: 20px;
    line-height: 120%;

    &:focus {
        border-bottom: none;
        outline: 2px solid #232323;
        margin-bottom: 2px;
    }
}

.description {
    font-family: 'Inter Light';
    font-size: 14px;
    color: #232323;
    opacity: 0.65;
    line-height: 120%;
}

.submit__button {
    align-self: center;
    background-color: #F5D82D;
    color: #232323;
    font-family: 'Inter Bold';
    padding: 10px 25px;
    font-size: 20px;
    border: none;

    &:hover {
        outline: 2px solid #232323;
    }

    &:active {
        background-color: #cfb625;
    }
}

.close__button {
    align-self: center;
    border-bottom: 2px solid #232323;
    color: #232323;
    font-family: 'Involve';
    font-size: 16px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.08);
    }

    &:active {
        transform: scale(1);
    }

}