.container {
    display: flex;
}

.main_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: calc(100vw - 100px);
}

.main_title {
    font-family: 'Involve';
    font-size: 50px;
    line-height: 120%;
}

.top_container {
    align-self: center;
    display: flex;
    column-gap: 50px;
}

.toggle_btn {
    font-family: 'Kanit Cyrillic';
    font-size: 20px;
    line-height: 120%;
    color: #232323;
    border-bottom: 2px solid #F5D82D;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(20%);
    }

    &:active {
        color: #F5D82D;
    }
}