.container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
}

.user_name {
    font-family: 'Kanit Cyrillic';
    font-size: 30px;
    white-space: nowrap;
}

.user_avatar {
    width: 70px;
    height: 70px;
    background-color: #919191;
    border-radius: 50%;
}